* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-width: 100vw;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 0 2px;
}

[class^="col"] {
    margin: 0 2px;
}

/* ULTIS */

.green-pad{
    color: green;
}

.row > .row.col-2{
}


/* ********************** */
/* ***** FRAMEWORK ****** */
/* ********************** */

.row>[class^="col"] {
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.row>.col-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
}

.row>.col-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.row>.col-3 {
    flex-basis: 25%;
    max-width: 25%;
}

.row>.col-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.row>.col-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.row>.col-6 {
    flex-basis: 50%;
}

.row>.col-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.row>.col-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.row>.col-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.row>.col-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.row>.col-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.row>.col-12 {
    flex-basis: 100%;
    max-width: 100%;
}



/* *********************** */
/* ******** OFFSET ******* */
/* *********************** */



.offset-1 {
    margin-left: calc(100% / 12)
}

.offset-2 {
    margin-left: calc(100% / 12 * 2)
}

.offset-3 {
    margin-left: 25%
}

.offset-4 {
    margin-left: calc(100% / 12 * 4)
}

.offset-5 {
    margin-left: calc(100% / 12 * 5)
}

.offset-6 {
    margin-left: 50%
}

.offset-7 {
    margin-left: calc(100% / 12 * 7)
}

.offset-8 {
    margin-left: calc(100% / 12 * 8)
}

.offset-9 {
    margin-left: calc(100% / 12 * 9)
}

.offset-10 {
    margin-left: calc(100% / 12 * 10)
}

.offset-11 {
    margin-left: calc(100% / 12 * 11)
}

.offset-12 {
    margin-left: 100%
}