* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */

.container {
    width: 100%;
    min-width: 100vw;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 0 2px;
}

[class^="col"] {
    margin: 0 2px;
    min-height: 50px;
}

/* ULTIS */

.d-flex {
    display: flex;
}

.h-100 {
    height: 100px;
}

.mh-50 {
    height: 50px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-50 {
    margin-top: 50px;
}


/* ********************** */
/* ***** FRAMEWORK ****** */
/* ********************** */

.row>[class^="col"] {
    flex-grow: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.row>.col-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
}

.row>.col-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.row>.col-3 {
    flex-basis: 25%;
    max-width: 25%;
}

.row>.col-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.row>.col-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.row>.col-6 {
    flex-basis: 50%;
}

.row>.col-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.row>.col-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.row>.col-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.row>.col-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.row>.col-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.row>.col-12 {
    flex-basis: 100%;
    max-width: 100%;
}



/* *********************** */
/* ******** OFFSET ******* */
/* *********************** */



.offset-1 {
    margin-left: calc(100% / 12)
}

.offset-2 {
    margin-left: calc(100% / 12 * 2)
}

.offset-3 {
    margin-left: 25%
}

.offset-4 {
    margin-left: calc(100% / 12 * 4)
}

.offset-5 {
    margin-left: calc(100% / 12 * 5)
}

.offset-6 {
    margin-left: 50%
}

.offset-7 {
    margin-left: calc(100% / 12 * 7)
}

.offset-8 {
    margin-left: calc(100% / 12 * 8)
}

.offset-9 {
    margin-left: calc(100% / 12 * 9)
}

.offset-10 {
    margin-left: calc(100% / 12 * 10)
}

.offset-11 {
    margin-left: calc(100% / 12 * 11)
}

.offset-12 {
    margin-left: 100%
}

/* ALIGNMENT */

.justify-content-start {
    justify-content: start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

/* MEDIA QUERY DESKTOP */

@media screen and (max-width:992px) {
    .row>.col-lg-1 {
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }

    .row>.col-lg-2 {
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }

    .row>.col-lg-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .row>.col-lg-4 {
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }

    .row>.col-lg-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .row>.col-lg-6 {
        flex-basis: 50%;
    }

    .row>.col-lg-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .row>.col-lg-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    .row>.col-lg-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    .row>.col-lg-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .row>.col-lg-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .row>.col-lg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .d-lg-none {
        display: none;
    }

}

/* MEDIA QUERY TABLET */

@media screen and (max-width:768px) {
    .row>.col-md-1 {
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }

    .row>.col-md-2 {
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }

    .row>.col-md-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .row>.col-md-4 {
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }

    .row>.col-md-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .row>.col-md-6 {
        flex-basis: 50%;
    }

    .row>.col-md-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .row>.col-md-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    .row>.col-md-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    .row>.col-md-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .row>.col-md-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .row>.col-md-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .d-md-none {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .row>.col-sm-1 {
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }

    .row>.col-sm-2 {
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }

    .row>.col-sm-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .row>.col-sm-4 {
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }

    .row>.col-sm-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .row>.col-sm-6 {
        flex-basis: 50%;
    }

    .row>.col-sm-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .row>.col-sm-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }

    .row>.col-sm-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }

    .row>.col-sm-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .row>.col-sm-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .row>.col-sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    .d-sm-none {
        display: none;
    }
}